# Introducción a Python parte 1

## Impresión y comentarios

In [1]:
print("hola mundo")

hola mundo

In [10]:
print("La empresa se llama 'X'")
print('La empresa se llama "X"')

La empresa se llama 'X'
La empresa se llama "X"

In [11]:
print("hola"+str(5*2)+'adios')

hola10adios

In [23]:
# comentario de una línea //
"""
hola
Comentario de varias líneas
"""
print('hola')

a = ''' Cadena
de varias
lineas'''

b = """
Cadena con dos
lineas
"""
print(a,b)

hola
 Cadena
de varias
lineas
Cadena con dos
lineas

# Variables y tipos de datos

In [22]:
nombre = "Valeria" # Asignación simple
nombre1, nombre2 = "Luis", 'Cindy' # Asignación múltiple a múltiples variables
apellido1 = apellido2 = "Sanchez " # Asignación del mismo valor
print(nombre)
print(nombre1,nombre2)
print(apellido1,apellido2)
nombre = 5
print(nombre)

Valeria
Luis Cindy
Sanchez  Sanchez
5

In [26]:
n = 'Clau ' # str
x = 6       # int
y = 7.2     # float
z = 3+2j    # complex
print(n,type(n))
print(x,type(x))
print(y,type(y))
print(z,type(z))

Clau  <class 'str'>
6 <class 'int'>
7.2 <class 'float'>
(3+2j) <class 'complex'>

In [28]:
x = 4 #int
y = 4. #float
z = 4.0 #float
print(x,type(x))
print(y,type(y))
print(z,type(z))

4 <class 'int'>
4.0 <class 'float'>
4.0 <class 'float'>

In [30]:
x = 35e3 #float
y = 12E4 #float
z = 87.7e-100 # float
print(x,type(x))
print(y,type(y))
print(z,type(z))

35000.0 <class 'float'>
120000.0 <class 'float'>
8.77e-99 <class 'float'>

In [31]:
x = True
y = False
print(x, type(x)) # True bool
print(y, type(y)) # False bool

True <class 'bool'>
False <class 'bool'>

In [38]:
a = int(1) # x es 1
b = int(2.8) # y es 2
c = int("3") # z es 3
d = int("3.3") # ERROR
e = int(3+2j) # ERROR
f = int("hola") # ERROR

ValueError: ignored

In [43]:
a = float(1) # x es
b = float(2.8) # y es 2.8
c = float("3") # z es
d = float("3.3") # z es 3.3
e = float(3+2j) # ERROR
f = float("hola") # ERROR

TypeError: ignored

In [45]:
a = str(1)
b = str(2.8)
c = str(3+2j)
d = str("hola")
print(a,b,c,d)

1 2.8 (3+2j) hola

## Cadenas de texto

In [61]:
a = "cadena"
print(a)
print(a[3])
print(a[-1]) #el último caracter
print(a[-2]) #el penúltimo caracter
print(a[1:5]) #sub cadena desde el caracter 1 hasta el 5(sin incluir)
print(a[0:3]) #sub cadena desde el caracter 0 hasta el 3(sin incluir)
print(a[4:])  #sub cadena desde el caracter 4 hasta el final
print(a[:3])  #sub cadena desde el principio hasta el caracter 3(sin incluir)
print(a[-3:-1])
print(a[-3:]) #Los últimos tres caracteres de la cadena
print(a[:3]) #Los primeros tres caracteres de la cadena

cadena
e
a
n
aden
cad
na
cad
en
ena
cad

In [62]:
s = 'aguascalientes'
print(s[0],s[1:4], s[-1:])

a gua s

In [80]:
s = "Cadena de Texto 27"
print( len(s)) # 18
print(s.lower()) # cadena de texto 27
print(s.upper()) # CADENA DE TEXTO 27
print(s.replace('de','x')) # Cxdenx de Texto 27
print(s.split(' ')) # Cadena ', 'de', '
cadena2 = s[::-1]
print(cadena2)

18
cadena de texto 27
CADENA DE TEXTO 27
Caxna x Texto 27
['Cadena', 'de', 'Texto', '27']
72 otxeT ed anedaC

## Operadores

In [81]:
print(2**3) #potencia

8

In [84]:
print(5.0/2.0)
print(5.0//2.0)
print(5/2)

2.5
2.0
2.5